@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway|Open+Sans|Satisfy&display=swap');
*{
    box-sizing: border-box ;
}
.name{ 
    float: left;

}

.quote{
    text-align: center;
    color: rgb(246, 31, 31);
    /* The quote is red becasue Jesus is speaking */
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
    text-shadow: 1px 1px 2px black;

}

html{
    background-color: rgba(5, 7, 100, 0.855);
    font-size: 16px;
}
.links{
    float: right;
}
.links a {
    text-decoration: none;
    color: inherit;
    margin-left: .25em;
}
header{
    font-size: 2rem;
    left: 0;
    right: 0;
    padding: .5em 1em;
    box-shadow: 0 2px 4px -2px black;
    background: white;
    width ;
}
header::after{
    display: block;
    clear: both;
    content: '';
}
body{
    background: rgba(107, 156, 240, 0.808);
    max-width: 960px;
    margin: auto;
    height: 999px;
    width: 700px;
}
h1{
    color: white;
    margin-top: 50px;
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    color: white;
}
h2, h1{
    font-family: raleway ;
}

.links a.Active {
    border-bottom: 1px solid black;
}
.links a {
    margin-left: 0;
}
.Me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.About1{
    border-bottom: 2px solid ; 
    font-size: 50px;
    text-align: center;
    font-family:monospace
    
}
.stud{
    
}
.P1{
    font-family: monospace;
    display: inline-block;
    float: left;
    font-size: 20px;
}
.About2{
    border-bottom: 2px solid ; 
    font-size: 50px;
    text-align: center;
    font-family:monospace
}
.P2{
    font-family: monospace;
    display: inline-block;
    float: left;
    font-size: 20px;
}